

body {
		min-width: 1px;
		width: 90%;
		height: 90%;
   	 	background-color: black;
    		background-image: url('dn.jpg'); 
		background-attachment: fixed; 
		background-repeat: no-repeat;
		background-position: 50% 50%;
}

#Bulldiv {
		border: 4px outset azure;
		margin-left: 7%;
		background-color: blue;
		opacity: .6;
}



#bulletin {
		padding-left: 5em;
		color: white;
		font-family: HandelGothic, Merriweather;
		font-size: 50px;
		text-align: center;
		margin-left: -12%;
		margin-bottom: -1%; 
		margin-top: 1.5%;
}

#bullnotes {
	padding: 0em 2em;
	color:white;
	font-family:HandelGothic, Merriweather;
	line-height: 2em;
	font-size: 18px;
	text-align: center;
}

#res {
	color: white;
	margin-left: 6.8%;
	font-size: 45px;
	padding-top: 3%;
	padding-bottom: 1%;
}

#intro{
	padding-left: 5em;
	color:white;
	font-family:HandelGothic, Merriweather;
	line-height: 2em;
	font-size: 25px;
	text-align: center;
}
.chardiv:hover {
	color: red;
}



@font-face {
	font-family: HandelGothic;
	src: local('Fonts/HandelGothic');
}

@font-face {
	font-family: button-font;
	src: url('Fonts/button-font.ttf');
}

@font-face {
    font-family: DragonFont;
    src: url('Fonts/pfeffermediaeval-webfont.ttf');
}

#title {
    color: white;
    font-family: DragonFont;
    font-size: 60px;
    text-align: center;
		margin-left: 150px;
    margin-top: -175px;
    text-decoration: none;
}

#quick {
	text-align: center;
	margin-top: 5%;
	margin-left: 10%;
	color: white;
}






table {
	margin-top: 3%;
	border: 2px ridge white;
	border-spacing: 0.1rem;
	margin-left: 15%;
	background: rgba(0, 0, 255, .4)
}





.classicons {
	text-align: center;
	outline: solid white 2px;
}

#trs {
	text-align: center;
}

.name {
	color: white;
	margin: -5px 2px 5px 2px;

}

td {
	width: 100px;
	height: 90px;
	padding: 0px;

	
}

.rescale {
	width: 42%;
}

.rescale2 {
	width: 55%;
}

.rescale3 {
	width: 20%;
}

.rescale4 {
	width: 49%;
}


.spectitle {
	color: white;
	text-align: center;
	border: solid white 2px;
}

footer {
	color: white;
	position: fixed;
	bottom: 2%;
}


.titles {
	font-family: HandelGothic, Merriweather;
	font-weight: bold;
	text-decoration: none;
}

#class_link {
	text-decoration: none;
	font-size: 50px;

}



.chardiv {
	height: 50px;
	width: 310px;
	margin-left: 5%; 
	border: #CCC outset 5px;
	background-color: #A8A8A8;
	font-size: 49px;
	text-decoration: none;
	display: inline;

}

#byelement {
	margin-left: 33%;
}

.chardiv:active {
	border: #CCC inset 5px;
}

.newsdiv:active {
	border: #CCC inset 5px;
}

.contdiv:active{
	border: #CCC inset 5px;
}


.newsdiv {
	height: 50px;
	width: 310px;
	margin-left: 45%;
	font-size: 49px;
	border: #CCC outset 5px;
	background-color: #A8A8A8;
}

.contdiv {
	height: 50px;
	width: 310px;
	margin-left: 82%;
	font-size: 49px;
	border: #CCC outset 5px;
	background-color: #A8A8A8;
}


#update{
	color: white;
	float: right;
}


#dark {
	width: 45%;
}



#mach {
	width: 55%;
	content: url('Machina/Machina_Icon.png');
}

#patr {
	width: 58%;
	content: url('Patrona/Patrona_Icon.png');
}

#patr:hover {
	width: 68%;
}

#ruin {
	width: 58%;
	content: url('Ruina/Ruina_Icon.png');
}



#defe {
	width: 50%;
	content: url('Defensio/Defensio_Icon.png');
}
